Source: libaedaemon
Section: unknown
Priority: extra
Maintainer: Arttu Valo <aevalo@DebianVM.VMDomain>
Build-Depends: debhelper (>= 7.0.50~), cmake, libapr1-dev, libaprutil1-dev
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/libaedaemon.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libaedaemon.git;a=summary

Package: libaedaemon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libapr1, libaprutil1
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libaedaemon-doc
Architecture: all
Description: documentation for libaedaemon
 <insert long description, indented with spaces>
